.InfoBox {
    text-align: center;
    margin-top: 20px;   /* 👉 thoda space upar se */
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
      /* 👉 vertical center */
}

/* 🔥 Card smooth animation */
.cardContainer .MuiCard-root {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

/* 🔥 Hover effect (premium look) */
.cardContainer .MuiCard-root:hover {
    transform: scale(1.05);   /* 👉 zoom effect */
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}